"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cfceb53f-f6bc-4d23-90f5-767809e94175"
  "autocomplete-python":
    useKite: false
  core:
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        ".jfconfig"
        ".watchmanconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "TARGETS"
        "cconf"
        "cinc"
        "ctest"
        "ctw"
        "mcconf"
        "tw"
        "thrift-cvalidator"
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "symbols-view"
      "fuzzy-finder"
      "language-python"
      "tree-view"
      "encoding-selector"
      "line-ending-selector"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
  "file-icons":
    coloured: false
  "git-plus": {}
  "markdown-preview-enhanced":
    phantomJSExportFileType: "png"
    previewTheme: "atom-light-syntax"
  nuclide:
    "fb-conflict-resolver": {}
    "fb-interactive-smartlog": {}
    installRecommendedPackages: true
    "nuclide-arc-lint":
      blacklistedLinters: [
        "FBFLOW"
        "FBHACK"
        "FBRELAYFLOW"
        "FLAKE8"
        "FlowLint"
        "HACKSYNTAX"
        "PEP8"
      ]
    "nuclide-buck":
      suggestTaskRunner: false
    "nuclide-console":
      diffUrlPattern: "https://phabricator.intern.facebook.com/%s"
      taskUrlPattern: "https://our.intern.facebook.com/intern/tasks?t=%s"
    "nuclide-definition-preview":
      editorHeight: 70
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-health":
      toolbarJewel: "Event loop"
    "nuclide-js-imports-client":
      autocompleteWhitelist: [
        "^.*/Nuclide"
        "^.*/www"
      ]
      diagnosticsWhitelist: [
        "^.*/Nuclide"
      ]
    "nuclide-remote-projects":
      connectionProfiles: [
        {
          deletable: true
          displayTitle: "www"
          params:
            authMethod: "PRIVATE_KEY"
            cwd: "/home/sichen/www"
            pathToPrivateKey: "/Users/sichen/.ssh/fb_id_rsa"
            remoteServerCommand: ""
            server: "our.sichen.sb.facebook.com"
            sshPort: "22"
            username: "sichen"
          saveable: true
        }
        {
          deletable: true
          displayTitle: "fbsource"
          params:
            displayTitle: "fbsource"
            username: "sichen"
            server: "our.sichen.sb.facebook.com"
            cwd: "/home/sichen/fbsource"
            sshPort: "22"
            authMethod: "PRIVATE_KEY"
            pathToPrivateKey: "/Users/sichen/.ssh/fb_id_rsa"
            remoteServerCommand: ""
          saveable: true
        }
        {
          deletable: true
          displayTitle: "fbcode"
          params:
            displayTitle: "fbcode"
            username: "sichen"
            server: "our.sichen.sb.facebook.com"
            cwd: "/home/sichen/fbsource/fbcode"
            sshPort: "22"
            authMethod: "PRIVATE_KEY"
            pathToPrivateKey: "/Users/sichen/.ssh/fb_id_rsa"
            remoteServerCommand: ""
          saveable: true
        }
        {
          deletable: true
          displayTitle: "dev5601 fbcode"
          params:
            displayTitle: "dev5601 fbcode"
            username: "sichen"
            server: "dev5601.prn1.facebook.com"
            cwd: "/home/sichen/fbsource/fbcode"
            sshPort: "22"
            authMethod: "PASSWORD"
            pathToPrivateKey: "/Users/sichen/.ssh/fb_id_rsa"
            remoteServerCommand: ""
          saveable: true
        }
        {
          deletable: true
          displayTitle: "instagram-server"
          params:
            displayTitle: "instagram-server"
            username: "sichen"
            server: "our.sichen.sb.facebook.com"
            cwd: "/home/sichen/instagram-server"
            sshPort: "22"
            authMethod: "PRIVATE_KEY"
            pathToPrivateKey: "/Users/sichen/.ssh/fb_id_rsa"
            remoteServerCommand: ""
          saveable: true
        }
        {
          deletable: true
          displayTitle: "tp2"
          params:
            displayTitle: "tp2"
            username: "sichen"
            server: "our.sichen.sb.facebook.com"
            cwd: "/data/users/sichen/tp2"
            sshPort: "22"
            authMethod: "PRIVATE_KEY"
            pathToPrivateKey: "/Users/sichen/.ssh/fb_id_rsa"
            remoteServerCommand: ""
          saveable: true
        }
      ]
    overriddenThirdPartySettings: [
      "file-icons.coloured"
      "nuclide.nuclide-console.diffUrlPattern"
      "nuclide.nuclide-console.taskUrlPattern"
    ]
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "switch-header-source":
    samePane: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view": {}
  welcome:
    showOnStartup: false
".cisco-ios-config.source":
  editor:
    tabLength: 4
".makefile.source":
  editor:
    tabLength: 4
