"*":
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "metrics"
    ]
    telemetryConsent: "no"
  "line-ending-selector":
    defaultLineEnding: "LF"
  welcome:
    showOnStartup: false
